.chat-list-item {
  border: 1px solid #ccc;
  cursor: pointer;
  color: #000;
  /* Set the text color to make it visible */
  text-decoration: none;
  /* Remove underline style from links */
  margin: 15px;
}
h1{
  font-size:30px;
  padding: 10px;
  margin-top: 0;
}
.chat-list-item:hover {
  background-color: #e0e0e0;
}

.chat-list-item .avatar {
  margin-right: 12px;
}

.chat-list-item .chat-list-item-content {
  flex-grow: 1;
}

.chat-list-item .chat-list-item-title {
  font-weight: bold;
}

.chat-list-item .chat-list-item-subtitle {
  color: #888;
}

.main-menu-container {
  margin-left: 10px;
  
}

.main-menu-header {
  text-align: center;
  font-size: 30px;
  margin-bottom: -20px;
}