* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  
  
}

.container {
  font-weight: 250;
  display: flex;
  flex-direction: column;
  margin-left: 15vw; /* Adjust the left margin to accommodate the width of the navbarr */
  margin-top: 170px; /* Adjust the top margin to accommodate the height of the AppHeader */
  
}

.header{
  
  font-size: 3rem;
  font-weight: 600;
  margin-left: 320px;
  margin-top: 10px; 
}


.btn1 {
  padding: 8px 22px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px; 
  color: #f0ecec;
  cursor: pointer;
  background-color: #37353d;
}

.btn-active {
  padding: 8px 22px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #030303;
  cursor: pointer;
  background-color: #6e532b;
}
.tabs{
  margin-right: 50px;
}

.tab-buttons{

  margin-bottom: 50px;
}