:root {
  --primary: #c9b296;
}

.btn {
  padding: 8px 22px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #030303;
  cursor: pointer;
  background-color: var(--primary);
}


.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}

