.navbar {
  background-color: #D5D5D5; 
  width: 260px; /* Set the width of the navbar */
  height: 100vh; /* Set the height of the navbar to take up the full viewport height */
  position: fixed; /* Fix the position of the navbar */
  top: 100px; /* Align the top of the navbar with the top of the viewport */
  left: 0; /* Align the left of the navbar with the left of the viewport */
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 2rem;
}
 
.AppHeader{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 4px 25px 4px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: 0px;
  margin-top: 0;
  }

  .barIcons{
    width: 4vw; 
    height: 4vh;
  }

  .navbarr{
    width: 15vw; 
    height: 500vh; 
    background-color: #D5D5D5; 
    position: absolute; 
    top: 11.6%;
    left: 0;
  }
  
  .buttonBar{
    width: 15vw; 
    border: none;
    padding-top: 5%;
    background-color: #D5D5D5; 
  }