* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  
  
}

.home,
.services,
.Inventory,
.Tasks,
.Chat,
.Create_Task,
.guest-manager
{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  
}

.home {
  font-size: 50px;

}

.services {
  font-size: 50px;
}

.guest-manager {
  font-size: 50px;

}

.Chat {
  font-size: 50px;

}

.Create_Task {
  font-size: 50px;

}

.Tasks {
  font-size: 50px;

}

.tabs {
  margin-left: 10px;
}
.Dashboard {
  margin-left: 50px;
}

h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

