* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  
  
}

.home,
.services,
.Inventory,
.Tasks,
.Chat,
.Create_Task,
.guest-manager
{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  
}

.home {
  font-size: 50px;

}

.services {
  font-size: 50px;
}

.guest-manager {
  font-size: 50px;

}

.Chat {
  font-size: 50px;

}

.Create_Task {
  font-size: 50px;

}

.Tasks {
  font-size: 50px;

}

.Inventory {
  font-size: 50px;
<<<<<<< Updated upstream
}
=======
}

.container{
  font-weight: 250;
  display: flex;
  height: 10vh;
  margin-left: 230px;
  margin-top: 90px;
  flex-direction: column;
  

}
>>>>>>> Stashed changes
