@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


.ProductsTab {
  box-sizing: border-box;
  width: 100%;
}

.ProductsTab .productTable,
.ProductsTab td,
.ProductsTab th {
  border: 1px solid black;
}

.ProductsTab .productTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.ProductsTab .productTable td {
  text-align: center;
  padding: 2px 4px;
}

.ProductsTab .productTable .deleteButton {
  opacity: 0.4;
  transition: 0.2s;
}

.ProductsTab .productTable .deleteButton:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--accent-01);
}

.ProductCard {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 3px;
  width: 100%;
  max-width: 202px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ProductCard .category {
  display: block;
  opacity: 0.9;
  font-size: 12px;
  padding: 8px;
  padding-bottom: 4px;
  color: var(--accent-01);
  transition: 0.2s;
}

.ProductCard .category:hover {
  cursor: pointer;
  color: lighten(var(--accent-01), 10%);
}

.ProductCard .name {
  font-weight: bold;
  padding: 0px 8px;
  padding-bottom: 4px;
}

.ProductCard .price {
  text-align: right;
  padding: 4px;
  font-weight: 300;
}

.ProductCard .price span {
  font-weight: bold;
}

.ProductCard p {
  margin: 0;
  padding: 0;
}

.ProductCard img {
  width: 200px;
  height: 200px;
}

.NewItemTab {
  display: flex;
  flex-wrap: wrap;
}

.NewItemTab .formCheck-err {
  border-color: red;
}

.NewItemTab button {
  border: 1px solid black;
  margin-top: 24px;
  margin-left: 20%;
  border-radius: 3px;
  background: inherit;
  padding: 8px 16px;
  outline: none;
  font-weight: bold;
  font-family: inherit;
  transition: 0.2s;
}

.NewItemTab button:hover {
  cursor: pointer;
  color: var(--confirm-green);
  border-color: var(--confirm-green);
}

.NewItemTab label {
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 4px;
}

.NewItemTab input {
  font-family: inherit;
  padding: 4px 8px;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  outline: none;
}

.NewItemTab input:focus {
  border-color: var(--accent-01);
}

.NewItemTab select {
  font-family: inherit;
  outline: none;
  padding: 4px 8px;
  border-radius: 3px;
}

.NewItemTab select:focus {
  border-color: var(--accent-01);
}

.NewItemTab select option:hover {
  font-family: inherit;
  background-color: var(--accent-01);
  padding: 4px 8px;
}

.NewItemTab .newItem-input {
  box-sizing: border-box;
  min-width: 200px;
  width: 30%;
  margin-bottom: 32px;
  padding-right: 24px;
}

.NewItemTab .newItem-preview {
  box-sizing: border-box;
  min-width: 202px;
  width: 50%;
}

.InventoryManagementApp {
  min-height: 80vh;
}

.InventoryManagementApp .header {
  box-sizing: border-box;
  width: 100%;
  background: #424242;
  margin: 0;
  padding: 8px;
  font-size: 20px;
  color: white;
  font-weight: 300;
}

.InventoryManagementApp .header .bold-header {
  font-weight: 400;
}

.InventoryManagementApp .title {
  box-sizing: border-box;
  width: 100%;
  background: #3d5afe;
  color: white;
  margin: 0;
  padding: 16px 8px;
  position: relative;
  z-index: 99;
}

.InventoryManagementApp .app-body {
  display: flex;
  height: 100%;
  min-height: 80vh;
}

.Sidebar {
  width: 100%;
  max-width: 200px;
  background: #eceff1;
}

.Sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Sidebar ul .add-new-item {
  background: var(--confirm-green);
  color: white;
  font-weight: 400;
  opacity: 1;
  position: relative;
  z-index: 3;
}

.Sidebar ul .add-new-item:hover {
  background: lighten(var(--confirm-green), 10%);
}

.Sidebar ul .active {
  opacity: 1;
  background: #fff;
  position: relative;
  z-index: 3;
}

.Sidebar ul .active:hover {
  background: #fff;
  cursor: default;
}

.Sidebar ul li {
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  padding: 16px;
  transition: 0.2s all;
  font-weight: 300;
}

.Sidebar ul li:hover {
  background: #cfd8dc;
  cursor: pointer;
}

.MyRouter {
  width: 100%;
  box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  padding: 16px 24px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.MyRouter h1 {
  opacity: 0.9;
  font-size: 24px;
} 


/* mngrStyle.css */

.InventoryManagementApp {
  display: flex;
}

.sidebar-and-product-table {
  display: flex;
  height: 100%; /* Set the height to 100% */
}

.sidebar {
  flex: 1;
  background: #f0f0f0;
  padding: 20px;
  /* Add additional styling as needed */
}

.productTableRow {
  flex: 1;
  padding: 20px;
  /* Add additional styling as needed */
}

.content {
  flex: 2;
  padding: 20px;
  /* Add additional styling as needed */
}

